<!DOCTYPE html>
<html>
  <head>
    <title>Login page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form action="/login" method="post">
      <div class="">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter your email" required>
      </div>
      <div class="">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password" required>
      </div>

      <div class="">
        <button type="submit">Login</button>
      </div>
    </form>

    <p>You no get account? <a href="/register">Register</a></p>
  </body>
</html>
