<!DOCTYPE html>
<html>
  <head>
    <title>Register page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include('./inc/form-errors.ejs') %>

    <form action="/register" method="post">
        <div class="">
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" id="firstname" placeholder="Enter your first name" required>
        </div>
        <div class="">
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" id="lastname" placeholder="Enter your last name" required>
        </div>
        <div class="">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" required>
        </div>
        <div class="">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" required>
        </div>
        <div class="">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" name="confirm-password" id="confirm-password" placeholder="Retype you password" required>
        </div>

        <div class="">
            <button type="submit">Register</button>
        </div>
    </form>

    <p>You already have account? <a href="/">Login</a></p>
  </body>
</html>
